.board-element{
  display: inline-block;
  position: relative;
}
.board-element .link-board-element{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}
.text-align-center{
  text-align: center;
}