.colummn-board{
  width: 335px;
  margin: 0 10px;
  text-align: center;
  flex: 0 0 auto;
  overflow-y: scroll;
  height: auto;
}
.dasboard-trello {
  background-color: blue;
  overflow: auto;
  flex-wrap: nowrap;
  height: 100vh;
  display: flex;
}

.list {
  background-color: #ebecf0;
  border-radius: 3px;
}

iframe.trello-card.trello-card-rendered {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-align-center{
  text-align: center;
}


.box-select {
  position: absolute;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.box-select select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box-select::before {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 55px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(0, 77, 140);
  pointer-events: none;
}

.box-select:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(0, 77, 140);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.9);
}

.box-select select option {
  padding: 30px;
}