{#
/**
 * @file
 * Theme for a Trello Dashboards.
 *
 * Available variables:
 * - boards: array of boards with bord details
 *
 * @ingroup themeable
 * @see https://developer.atlassian.com/cloud/trello/guides/embedding/embedding-boards/
 * @see https://developers.trello.com/advanced-reference/list#get-1-lists-idlist-cards
 */
#}

<h1 class="text-align-center">    {{ "My Trello boards."| t }} </h1>
<div class="board-list-container">

    {% for board in boards %}
        <div class="board-element">

            <a class="link-board-element" href="{{ path('trello.trello_board_page', {'user': user.id, 'id': board.id }) }}"></a>
            <div class="item-board">
                <blockquote class="trello-board-compact">
                    <a href="{{ board.url }}">{{ board.name }}</a>
                </blockquote>
            </div>
        </div>
    {% endfor %}
</div>