{#
/**
 * @file
 * Theme for a Trello Board.
 *
 * Available variables:
 * - board: board details
 * - lists: array of colummn of board details
 * - boards: array of boards of board details
 *
 * @ingroup themeable
 * @see https://developers.trello.com/advanced-reference/list#get-1-lists-idlist-cards
 */
#}
<div id="switch-container-boards">
    <div class="box-select">
        <select name="switch-board" onchange="window.location.href=this.value;">
            {% for b in boards %}
                <option {% if b.id == board.id %} selected {% endif %}
                        value="{{ path('trello.trello_board_page', {'user': user.id, 'id': b.id }) }}">{{ b.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="text-align-center">
    <h1>  {{ "Boards: "| t }} {{ board.name }} </h1>
    <a target="_blank" href="{{ board.url }}" class="link"> {{ "Open Board in Trello"|t }}</a>
</div>

<div class='dasboard-trello board-main-content'>
    {% for list in lists %}
        <div class='list colummn-board {{ list.id }}'><h3> {{ list.name }}</h3>
            {% if list.cards %}
                {% for card in list.cards %}
                    <blockquote class="trello-card">
                        <a href="{{ card.url }}">Trello Card</a>
                    </blockquote>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
